**/__pycache__/
**/ckpt/
# **/persona_vectors/
**/wandb/
**/unsloth_compiled_cache
dataset/
eval_persona_extract/
eval_persona_eval/
output/
figs/

# Environment variables and secrets
.env
.env.local
.env.*.local
*.key
*.pem

.venv/

stdout_logs/
error_logs/

slurm/
INTERACTIVE_QUICKSTART.md